/* #setcookiebtn {
  background-color: darkblue;
  color: white;
  display: block;
  width: 50%;
  height: 2rem;
  margin: 0 auto;
  border-radius: 1rem;
}

#getcookiebtn {
  background-color: darkred;
  color: white;
  display: block;
  width: 50%;
  height: 2rem;
  margin: 0 auto;
  border-radius: 1rem;
}

#deletecookiebtn {
  background-color: darkgreen;
  color: white;
  display: block;
  width: 50%;
  height: 2rem;
  margin: 0 auto;
  border-radius: 1rem;
} */
